<body>
  <div class="container">
    <div class="floating-icons">
      <svg class="clock" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <circle cx="12" cy="12" r="10" stroke-width="2"/>
        <path stroke-width="2" d="M12 6v6l4 2"/>
      </svg>
      <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-width="2" d="M6 4h12M6 20h12M6 4v2a6 6 0 0 0 6 6v0a6 6 0 0 1 6 6v2M6 20v-2a6 6 0 0 1 6-6v0a6 6 0 0 0 6-6V4"/>
      </svg>
    </div>
    <div class="card">
      <h1 class="error-code">404</h1>
      <h2>Time Hasn't Preserved This Memory</h2>
      <p>
        The time capsule you're looking for seems to be lost in the temporal void.
        Perhaps it hasn't been created yet, or maybe it's from an alternate timeline.
      </p>
      <a href="/" class="button">Return to Present Time</a>
    </div>

    <div class="timestamp">
      Temporal Coordinates: {{ currentTimeStamp}}
    </div>
  </div>
</body>

