<router-outlet></router-outlet>


<ngx-beautify-cursor
        [circleBackgroundColor]="'hsla(245, 44%, 56%, 0.08)'"
        [circleBorderColor]="'#6363af'"
        [circleBorderSizePx]="1"
        [circleFollowDuration]="0.5"
        [circleSizePx]="40"
        [cursorHoldAnimationDuration]="0.25"
        [cursorHoldAnimationScaleDown]="0.8"
        [cursorHoverAnimationDuration]="0.4"
        [cursorHoverAnimationScaleUp]="1.5"
        [defaultCursor]="'none'"
        [dotColor]="'#6363af'"
        [dotFollowDuration]="0"
        [dotSizeInPx]="8"
        [enableHoverAnimation]="true"
        [hideDotWhileHover]="true"
        [hoverAttributes]="['clickable', 'button', 'href']"
        [nParentsStyleCheck]="5"
        [zIndex]="999"
></ngx-beautify-cursor>
