

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="allpage">
  <!-- logo section -->
  <div class="logo">
    <img src="./assets/timeCapsule.png" alt="Time Capsule Logo">
    <h1>Time Capsule</h1>
  </div>

  <!-- toolbar with hamburger Menu -->
  <mat-toolbar class="header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
  </mat-toolbar>

  <!-- sidenav -->
  <mat-sidenav-container class="sidenavContainer">
    <mat-sidenav #sidenav mode="over" [(opened)]="isMenuOpen" class="sidenav">
      <mat-nav-list>
        <mat-list-item (click)="onSidenavClick('home')">
          <mat-icon>home</mat-icon>
          <span class="menu-text">Home</span>
        </mat-list-item>
        <mat-list-item (click)="onSidenavClick('create')">
          <mat-icon>add</mat-icon>
          <span class="menu-text">Create</span>
        </mat-list-item>
        <mat-list-item (click)="onSidenavClick('inventory')">
          <mat-icon>inventory</mat-icon>
          <span class="menu-text">My Capsules</span>
        </mat-list-item>
        <div class="sidenav-bottom">
          <mat-list-item (click)="onSidenavClick('settings')">
            <mat-icon>settings</mat-icon>
            <span class="menu-text">Settings</span>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <!-- main content -->
    <mat-sidenav-content [ngClass]="{ 'sidenav-open': isMenuOpen }">
      <div class="main-content">
        <h2 class="homeGreetings">{{greetings}}</h2>

        <!-- home section -->
        <div *ngIf="currentSection === 'home'">
          <div class="hero">
            <h1 class="heroh1">Preserve Your Memories for the future</h1>
            <p class="herop">Create a digital time capsule with text, images, and videos to unlock in the future.</p>
          </div>
          <div class="works">
            <h2>How it works</h2>
            <div class="steps">
              <div class="step">
                <h3>1. Create</h3>
                <p>Add, text, images, and videos to your capsule.</p>
              </div>
              <div class="step">
                <h3>2. Set Unlock Date</h3>
                <p>Choose when your capsule will open.</p>
              </div>
              <div class="step">
                <h3>3. Share or Save</h3>
                <p>Keep it or share it with loved ones.</p>
              </div>
            </div>
          </div>

        </div>

        <!-- search bar -->
        <div class="searchContainer" *ngIf="currentSection === 'inventory'">
          <mat-form-field appearance="fill" class="search-bar">
            <mat-label>Search Capsules</mat-label>
            <input matInput (input)="onSearch($event)" placeholder="Search by title"/>
          </mat-form-field>
        </div>

        <!-- capsules display section -->
        <div class="capsules-container" *ngIf="currentSection === 'dashboard' || currentSection === 'inventory'">
          <div *ngFor="let capsule of filteredCapsules" class="capsule-card">
            <mat-card>
              <mat-card-header>
                <mat-card-title style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;display:block">{{ capsule.title }}</mat-card-title>
                <mat-card-subtitle>{{ capsule.unlockDate | date: 'shortDate' }}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <div *ngIf="capsule.type !== 'private' || passwordCorrect(capsule)" style="color: blue;">
                 <p class="showoneline" style="color: blue;">{{ capsule.content }}</p>
                </div>
                <div *ngIf="capsule.type === 'private' && !passwordCorrect(capsule)">
                  <mat-icon>lock</mat-icon>
                  <p>This capsule is private. Enter password to unlock.</p>
                </div>

                <div>
                  <button (click)="viewCapsule(capsule)" class="viewbtn"><mat-icon>visibility</mat-icon></button>
                  <button (click)="shareCapsule(capsule)" class="sharbtn"><mat-icon>share</mat-icon></button>
                  <button (click)="deleteCapsule(capsule._id)" class="deletbtn"><mat-icon>delete</mat-icon></button>
                  <button (click)="editCapsule(capsule)" class="editbtn"><mat-icon>edit</mat-icon></button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="capsuleModel" *ngIf="selectedCapsule">
          <div class="modelContent">
            <h2 style="color: red;">{{ selectedCapsule.title }}</h2>
            <p style="color: rgb(32, 27, 27);"> {{ selectedCapsule.content }}</p>

            <!-- display uploaded images -->
            <div *ngIf="imageUrls.length > 0">
              <h3>Newly Uploaded Images:</h3>
              <div class="image-gallery">
                <img *ngFor="let img of imageUrls" [src]="img" class="capsule-image" alt="Uploaded Image" width="150" height="100">
              </div>
            </div>

            <!-- display capsule images (if exist) -->
            <div *ngIf="selectedCapsule.images && selectedCapsule.images.length > 0">
              <h3 style="color: blue;">Attached Images:</h3>
              <div class="image-gallery">
                <img *ngFor="let img of selectedCapsule.images" [src]="'http://localhost:2004' + img" class="capsule-image" alt="Capsule Image">

              </div>
            </div>

            <button (click)="closeModel()"><mat-icon>close</mat-icon></button>
          </div>
        </div>

        <!-- create capsule section -->
        <div *ngIf="currentSection === 'create'">
          <mat-card class="create-capsule-card">
            <mat-card-header>
              <mat-card-title>Create a Capsule</mat-card-title>
              <mat-card-subtitle>Preserve your memories for the future</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="capsuleForm" (ngSubmit)="createCapsule()">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Title</mat-label>
                  <input matInput formControlName="title" placeholder="Enter title" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Content</mat-label>
                  <textarea matInput formControlName="content" placeholder="Enter your message" required rows="1" class="txtar"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Release Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="unlockDate" placeholder="Select unlock date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- image section -->
                  <mat-label>Upload Image Drag your items here </mat-label>
                  <input type="file" (change)="onImageChange($event)" accept="image/*">


                <div *ngIf="imagePreviewurl">
                  <h4>Preview: you can add maximum 5</h4>
                  <img [src]="imagePreviewurl" alt="image preview" style="max-width: 200px; max-height:200px"/>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="capsuleForm.invalid">Create Capsule</button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="currentSection === 'settings'">
          <mat-list-item (click)="logout()" class="logg">
            <mat-icon>exit_to_app</mat-icon>
            <span class="mt">Logout</span>
          </mat-list-item>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

