<!-- logo -->
<div class="logo">
  <img src="../assets/timeCapsule.png"> <p>TimeCapsule</p>
</div>

<!-- buttons -->
<div class="newbutns">
  <button class="myCapsules"  (click)="scrollToCapsules()">My Capsules</button>
  <button class="create" routerLink="/register">Create New</button>
</div>

<!-- firstDiv -->
<div class="firstdiv">
  <!-- H1 text -->
  <div class="f12t">
    <h1 class="f12th1">Preserve you Memories for <br>the future</h1>
    <h6 class="f12th6">Create a digital time capsules filled with your precious moments, locked <br> until the perfect time to relive them</h6>
  </div>
  <div class="f12btn">
    <button class="f121btn" routerLink="/register">Create Your First Capsule</button>
  </div>
</div>

<!-- secondDiv -->
<div class="secondDiv">
  <div class="secureStorage">
    <img src="../assets/secured-lock.png">
    <h3>Secure Storage</h3>
    <p>Your memories are encrypted and safely <br>stored until their scheduled opening date.</p>
  </div>
  <div class="secureStorage">
    <img src="../assets/calendar-silhouette.png">
    <h3>Future Delivery</h3>
    <p>Set a future date for your capsule to be <br>opened and shared with loved ones.</p>
  </div>
  <div class="secureStorage">
    <img src="../assets/share.png">
    <h3>Easy Sharing</h3>
    <p>Share you unlocked capsules with family <br>and friends instantly.</p>
  </div>
</div>

<div class="thirdDiv" #thirdDiv>
  <h2>Recent Time Capsules</h2>
  <div class="summerContainer">
    <div class="summerMemories">
      <h4>Family Photos 2025</h4>
      <div class="summertext">
        <h3 class="sum">Summer Memories</h3>
        <p>Opens on Jan 30 2025</p>
        <img src="../assets/secured-lock.png">
        <h6>Locked</h6>
      </div>
    </div>
    <div class="summerMemories">
      <h4>Wedding Videos</h4>
      <div class="summertext">
        <h3 class="sum">Our Special Day</h3>
        <p>Opens on Mar 31 2025</p>
        <img src="../assets/secured-lock.png">
        <h6>Locked</h6>
      </div>
    </div>
    <div class="summerMemories">
      <h4>Letters To Future</h4>
      <div class="summertext">
        <h3 class="sum">Dear Future Me</h3>
        <p>Opens on Apr 29 2025</p>
        <img src="../assets/secured-lock.png">
        <h6>Locked</h6>
      </div>
    </div>
    <div class="summerMemories">
      <h4> Where It Begins</h4>
      <div class="summertext">
        <h3 class="sum">Graduation Day</h3>
        <p>Opens on May 26 2025</p>
        <img src="../assets/secured-lock.png">
        <h6>Locked</h6>
      </div>
    </div>
    <div class="summerMemories">
      <h4> Older Me</h4>
      <div class="summertext">
        <h3 class="sum">Time Capsule</h3>
        <p>Opens on Jul 28 2025</p>
        <img src="../assets/secured-lock.png">
        <h6>Locked</h6>
      </div>
    </div>
  </div>

  <div class="end">
    <div class="footer-links">
      <a routerLink="/about" id="aboutLink">About</a>
      <a routerLink="/terms" id="termsLink">Terms</a>
      <a routerLink="/privacy" id="privacyLink">Privacy</a>
      <a routerLink="/contact" id="contactLink">Contact</a>
    </div>

    <div class="footer-icons">
      <a href="https://www.instagram.com/affnaaaaan_/" target="_blank">
        <img src="../assets/instagram.png">
      </a>
      <a href="https://linkedin.com/in/mdafnaan" target="_blank">
        <img src="../assets/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/afnaanulla" target="_blank">
        <img src="../assets/github.png" alt="GitHub">
      </a>
    </div>
  </div>
</div>


